@charset "utf-8";
/* CSS Document */
body {
	background:url(../img/waves.jpg) repeat;
	
	}
.red {
	outline: 1px solid red;
	
	}
.logo {
	margin:30px 0px 30px 0px;
	
}
.accordion-group {
	margin-bottom: 10px;
	
}
.accordion-heading {
	
	background: #CCC;
	
	}
.accordion-toggle {
	
	height: 75px;
	color: #333;
	font-weight:600;
	margin-left: 30px;
	
}

.accordion-toggle:hover {
	color: #C30;
	text-decoration:none;
}
.accordion-inner {
	background-color:#333;
	color:#FFFFFF;
	
}
.spicy {
	height:92px;
	width:15px;
	background-color:#990000;
	
	}
.raw {
	height:92px;
	width:15px;
	background-color: #F9C;
	
	}