@charset "utf-8";
/* CSS Document */
body {
	background:url(../img/waves.jpg) repeat;
	
	}
.red {
	outline: 1px solid red;
	
	}
.logo {
	margin:30px 0px 30px 0px;
	
}
.accordion {
	margin-top: 40px;
	
	}
.accordion-group {
	margin-bottom: 10px;
	
}
.accordion-heading {
	
	background: #CCC;
	
	}
.accordion-toggle {
	height: 134px;
	color: #666;
	font-weight:600;
	margin-left: 30px;
	
}

.accordion-toggle:hover {
	color: #C30;
	text-decoration:none;
}
.accordion-inner {
	background-color:#333;
	color:#FFFFFF;
	
}
.legend {
	height: 50px;
	width: 370px;
	
	
	}
.legend p {
	padding: 10px 0px 0px 20px;
	font-weight:bold;
	
	
	}
.spicy {
	height:150px;
	width:15px;
	background-color:#C30;
	float:left;
	
	}
.raw {
	height:150px;
	width:15px;
	background-color: #F9C;
	float:left;
	
	}

.nav a {
	background: #4c5461;
	opacity: .7;
	color: white;
}
.prodImageOne {
	background: url(../img/one.jpg) no-repeat;
}
.prodImageTwo{
	background: url(../img/two.jpg) no-repeat;
}
.prodImageThree {
	background: url(../img/three.jpg) no-repeat;
}
.prodImageFour {
	background: url(../img/four.jpg) no-repeat;
}
.prodImageFive {
	background: url(../img/five.jpg) no-repeat;
}
.prodImageSix {
	background: url(../img/six.jpg) no-repeat;
}
.prodImageSeven {
	background: url(../img/seven.jpg) no-repeat;
}
.prodImageEight {
	background: url(../img/eight.jpg) no-repeat;
}
.cl {
	clear:left;
}
.sm {
	height: 40px;
	
	}