@charset "utf-8";
/* CSS Document */
body {
	background:url(../img/waves.jpg) repeat;
	
	}
.red {
	outline: 1px solid red;
	
	}
.logo {
	margin:30px 0px 30px 0px;
	
}
.accordion-group {
	margin-bottom: 10px;
	
}
.accordion-heading {
	
	background: #CCC;
	
	}
.accordion-toggle {
	
	height: 75px;
	color: white;
	font-weight:600;
	margin-left: 30px;
	
}

.accordion-toggle:hover {
	color: #C30;
	text-decoration:none;
}
.accordion-inner {
	background-color:#333;
	color:#FFFFFF;
	
}
.spicy {
	height:92px;
	width:15px;
	background-color:#990000;
	
	}
.raw {
	height:92px;
	width:15px;
	background-color: #F9C;
	
	}

.nav a {
	background: #4c5461;
	opacity: .7;
	color: white;
}
.prodImageOne {
	background-image: url(../img/one.jpg);
}
.prodImageTwo{
	background-image: url(../img/two.jpg);
}
.prodImageThree {
	background-image: url(../img/three.jpg);
}
.prodImageFour {
	background-image: url(../img/four.jpg);
}
.prodImageFive {
	background-image: url(../img/five.jpg);
}
.prodImageSix {
	background-image: url(../img/six.jpg);
}
.prodImageSeven {
	background-image: url(../img/seven.jpg);
}
.prodImageEight {
	background-image: url(../img/eight.jpg);
}